*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 40, 204);
    height: 100vh;
}

#wrapper{
    width: 90%;
    height: 705px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#wrapper .title{
    text-align: center;
}

#wrapper .title h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#wrapper .search_box{
    text-align: center;
    margin-top: 50px;
}

#wrapper .search_box .search_btn,
#wrapper .search_box input,
#wrapper .search_box #select{
    outline: none;
    padding: 10px;
    font-size: 20px;
}

#wrapper .search_box .search_btn{
    cursor: pointer;
}